<section id="about">
  <h2 id="about-intro" class="space-below">About Me</h2>

  <p class="about-content">I am a Ruby on Rails & Javascript Engineer with experience both Back-end and Front-end technologies. I have a background in front-end design and can ensure beautiful web and mobile applications. With every solution I make, I include ample documentation and fully-fledged CMS systems so that my client can take full control of their web application after delivery.</p>

  <p class="about-content"> Outside of web development, I am a Digital Media Consultant in Ann Arbor, Michigan and specialize in various technologies such as Virtual Reality, 3D, Video, Audio, and more. Additionally, I am part of the Emerging Technologies Group at the University of Michigan and am always up to date on the latest and most cutting edge technologies.</p>
</section>
