<section id="intro">
  <h1 class="text-center">Hi, I'm Yuri.</h1>
  <h3 class="text-center">Student at the <strong><a href="http://umich.edu/" target="_blank">University of Michigan</a></strong>.</h3>
  <h3 class="text-center">Digital Media Consultant. Director of <strong><a href="https://mpowered.umich.edu/take36" target="_blank">Take 36</a></strong>.</h3>
  <h3 class="text-center">Bedroom <strong><a href="https://soundcloud.com/blessedbynestor" target="_blank">Music Producer</a></strong>.</h3>
  <h3 class="text-center">Guerilla <strong><a href="https://www.youtube.com/playlist?list=PLoZUokk2Kr2qu94z4vGhfHGH7tuqORCmM" target="_blank">Filmmaker</a></strong>. Full-Stack <strong><a href="https://github.com/yramocan" target="_blank">Developer</a></strong>.</h3>
</section>
