/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require font-awesome
 *= require_self
 */

 @import "bootstrap-sprockets";
 @import "bootstrap";
 @import "font-awesome";

 @import url(https://fonts.googleapis.com/css?family=Lato:400,700,300);

 html, html a {
   color: #444444 !important;
   font-family: "Lato", "Open Sans", "Helvetica Neue", sans-serif;
   font-size: 16px;
   -webkit-font-smoothing: antialiased;
   text-shadow: 1px 1px 1px rgba(0,0,0,0.004);
 }

h1, h2, h3, h4, h5, h6 {
  font-weight: bold;
}

 a {
   &:hover {
    color: #111111 !important;
   }
 }

 img {
   -webkit-animation: fadein 2.5s; /* Safari and Chrome */
   -moz-animation: fadein 2.5s; /* Firefox */
   -ms-animation: fadein 2.5s; /* Internet Explorer */
   -o-animation: fadein 2.5s; /* Opera */
   animation: fadein 2.5s;
 }

 @keyframes fadein {
   from { opacity: 0; }
   to   { opacity: 1; }
 }

 /* Firefox */
 @-moz-keyframes fadein {
   from { opacity: 0; }
   to   { opacity: 1; }
 }

 /* Safari and Chrome */
 @-webkit-keyframes fadein {
   from { opacity: 0; }
   to   { opacity: 1; }
 }

 /* Internet Explorer */
 @-ms-keyframes fadein {
   from { opacity: 0; }
   to   { opacity: 1; }
 }

 /* Opera */
 @-o-keyframes fadein {
   from { opacity: 0; }
   to   { opacity: 1; }
 }

 #main-wrapper {
   margin-top: 25px;
 }

 nav#main-nav {
   .navbar-brand {
     font-size: 24px;
     font-weight: bold;
   }

   a {
     color: inherit;

     &:hover {
       background-color: transparent;
     }
   }
 }

#profile-section {
  margin-bottom: 25px;

  img#profile-photo {
    max-width: 200px;
    max-height: auto;
    border-radius: 50%;
  }

  #profile-intro {

  }

  #profile-slug {
    margin-top: 0;
    font-weight: normal;
  }
}

#work-intro {
  font-weight: normal;
}

.project-box {
  .hovereffect {
    width: 100%;
    height: 100%;
    float: left;
    overflow: hidden;
    position: relative;
    text-align: center;
  }

  .hovereffect .overlay {
    color: white;
    position: absolute;
    overflow: hidden;
    width: 80%;
    height: 80%;
    left: 10%;
    top: 10%;
    -webkit-transition: opacity 0.35s;
    transition: opacity 0.35s;
    -webkit-transform: scale(0,1);
    -ms-transform: scale(0,1);
    transform: scale(0,1);
  }

  .hovereffect:hover .overlay {
    opacity: 1;
    filter: alpha(opacity=100);
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
  }

  .hovereffect img {
    display: block;
    position: relative;
    -webkit-transition: all 0.35s;
    transition: all 0.35s;
  }

  .hovereffect:hover img {
    filter: url('data:image/svg+xml;charset=utf-8,<svg xmlns="http://www.w3.org/2000/svg"><filter id="filter"><feComponentTransfer color-interpolation-filters="sRGB"><feFuncR type="linear" slope="0.6" /><feFuncG type="linear" slope="0.6" /><feFuncB type="linear" slope="0.6" /></feComponentTransfer></filter></svg>#filter');
    filter: brightness(0.15);
    -webkit-filter: brightness(0.15);
  }

  .hovereffect h2 {
    text-transform: uppercase;
    text-align: center;
    position: relative;
    font-size: 17px;
    background-color: transparent;
    color: #FFF;
    padding: 1em 0;
    opacity: 0;
    filter: alpha(opacity=0);
    -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
    transition: opacity 0.35s, transform 0.35s;
    -webkit-transform: translate3d(0,-100%,0);
    transform: translate3d(0,-100%,0);
  }

  .hovereffect a, hovereffect p {
    color: #FFF;
    padding: 1em 0;
    opacity: 0;
    filter: alpha(opacity=0);
    -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
    transition: opacity 0.35s, transform 0.35s;
    -webkit-transform: translate3d(0,100%,0);
    transform: translate3d(0,100%,0);
  }

  .hovereffect:hover a, .hovereffect:hover p, .hovereffect:hover h2 {
    opacity: 1;
    filter: alpha(opacity=100);
    -webkit-transform: translate3d(0,0,0);
    transform: translate3d(0,0,0);
  }

  img.project-box-art {
    max-width: 100%;
    max-height: auto;
    border: none;
    margin-bottom: 15px;
  }

  span.text-content {
    background: rgba(0,0,0,0.5);
    color: white;
    cursor: pointer;
    display: table;
    height: 210px;
    left: 10;
    position: absolute;
    top: 0;
    width: 360px;
    opacity: 0;
    -webkit-transition: opacity 500ms;
    -moz-transition: opacity 500ms;
    -o-transition: opacity 500ms;
    transition: opacity 500ms;
  }

  &:hover span.text-content {
    opacity: 1;
  }

  p.completion-status {
  font-weight: bold;

  span.complete {
    color: green;
  }

  span.incomplete {
    color: red;
  }
}

  a.project-url {
   color: inherit;
   text-decoration: none;
  }
}

#main-footer {
  padding: 15px;

  #footer-slug {
    letter-spacing: 1.2px;
    a {
      &:hover {
        background-color: transparent;
      }
    }
  }
}
